
.hero-img, .about-img, .service-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

.service-box img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.about, .services, .contact {
    padding: 2rem;
    text-align: center;
}

.services .service-boxes {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.service-box {
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 25%;
    text-align: center;
}
